.navbar-container {
    background-color: aqua;
    height: 70px;
    padding: 10px;
}
.navbar-container ul {
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}