<div class="navbar-container">
    <ul>
        <li>
            <a routerLink = 'users'>Users</a>
        </li>
        <li>
            <a routerLink = 'inventory'>INVENTORY</a>
        </li>
        <li>
            <a>SETTINGS</a>
        </li>
        <li>
            <a>NOTIFICATIONS</a>
        </li>
    </ul>
</div>


<!-- <app-inventory></app-inventory>
<app-users></app-users> -->
<!-- <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. In minima maxime, esse ipsam dignissimos neque. Expedita enim nulla reiciendis sapiente facilis, porro sed rem quam mollitia sunt iure nostrum amet.
    Ut, laborum quaerat facere ducimus maxime sint quo, aliquid consectetur eveniet enim possimus eum, molestias dolor voluptatibus tenetur recusandae ab dolorum provident fugit? Eveniet quod voluptas rerum. Quaerat, ipsa illo.
    Nisi ad ipsum aperiam nam ratione. Corporis quidem vitae odio et dolores doloremque ut quaerat, tenetur aperiam distinctio dignissimos delectus esse alias! Unde doloribus ut ea est consectetur illo explicabo?
</p>

<p>Warehousedashboardworks</p> -->
<router-outlet></router-outlet>